*.svg
.png
.jpg
plugins
Shapes
Textures
Colours
node_modules
*.json
Prepping Data for analysis
presentation prep.docx
Column_Explanations.xlsx
Jatos_results_v2_task
v1_results
v2_firstrun_results
v2_secondrun_results
Distance Matrices Dimensions
ppData
exampledata_s1.csv
exampledata_s2.csv
