.graph-holder{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}

.graphs{
    padding: 1rem;
    box-shadow: 0px 0px 5px grey;
}

.currentNodeStim{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: rgb(244, 79, 200);
    box-shadow: 0px 0px 5px grey;
    margin-top: 1rem;
}
.currentNodeDist{
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: orange;
box-shadow: 0px 0px 5px grey;
}



.node-highlight-stim {
  stroke: rgb(255, 117, 255);
  stroke-width: 5;
}

.node-highlight-distractor {
  stroke: orange;
  stroke-width: 5;
}

.canvas-holder-choice{
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
}