.evaluationBox{
    display:flex;
    gap:1rem;
    justify-content: space-around;
    align-items: center;
}

#scoreDescription{
    font-size: 2rem;
}

#percentageScore{
    font-size: 2.5rem;
    color:indianred;
}

#evaluation{
    font-size: 2rem;
}

h3{
    font-size: medium;
    font-weight: 500;
}



/* For screen sizes which are 500px and smaller  */
@media screen and (max-width:500px) {
    .jspsych-canvas-keyboard-response-stimulus{
        width:80%;
        height:100%;
        margin:1rem;

    }
}

